* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "MicrosoftYaHei";
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  min-width: 1366px;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

li {
  list-style: none;
}

.cp {
  cursor: pointer;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.contentTop {
  /* padding-top: 60px; */
}

.sHeader>th {
  background: #f1f1f1 !important;
}

.sHeader>th>.cell {
  font-weight: normal !important;
  font-size: 14px !important;
  color: #666666 !important;
}
.stable>th{
  color: #333333;
  background-color: #f5f5f5;
  font-weight: normal;
}
.sRow {
  font-size: 12px !important;
  color: #666666;
  height: 46px !important;
}

.sRow {
  background-color: #ffffff !important;
}

.sRow.active {
  background: #eaf1fb;
}

.sRow:hover {
  background: #eaf1fb;
}

.sRow.active>td {
  color: #08979C;
  height: 46px;
  background-color: #eaf1fb !important;
}
.sRow .el-input-number{
  max-width: 100%;
}
.sRow:hover>td {
  color: #08979C;
  background-color: #eaf1fb !important;
}
.el-table td, .el-table th {
  height: 46px!important;
  padding: 0 0!important;
}
.sPage {
  text-align: center;
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background-color: #ffffff !important;
}
.el-table__fixed-right::before, .el-table__fixed::before{
  height: 0;
}
.loginForm .el-input__inner {
  width: 100%;
  border: 0px solid #dcdfe6;
  border-bottom: 1px solid #dcdfe6;
  border-radius: 0px;
}

.loginForm .el-autocomplete {
  width: 100%;
}

/* WebKit browsers*/

input::-webkit-input-placeholder {
  color: #cdcccc;
}

/* Mozilla Firefox 4 to 18*/

input:-moz-placeholder {
  color: #cdcccc;
}

/* Mozilla Firefox 19+*/

input::-moz-placeholder {
  color: #cdcccc;
}

/* Internet Explorer 10+*/

input:-ms-input-placeholder {
  color: #cdcccc;
}

/* 去掉百度logo */

.anchorBL {
  display: none;
}

.el-badge__content {
  border: none !important;
}

.el-menu {}
.el-submenu .el-menu-item {
  min-width: auto !important;
}
/* .el-menu>.el-submenu.is-opened>.el-submenu__title{
  box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.2);
} */
.el-menu>.el-submenu.is-opened>.el-submenu__title span,
.el-menu>.el-submenu.is-opened>.el-submenu__title i{
  /* height: 100px!important; */
  color:#fff!important;
}
.el-submenu__icon-arrow{
  right:30px!important;
}
.el-submenu__title:hover,.el-menu-item:hover{
  background:#02848D!important;
  color: #fff!important;
}
.el-submenu__title:hover span,.el-submenu__title:hover i,.el-menu-item:hover span,.el-menu-item:hover i{
  /* background:#0051A4!important; */
  color:#fff!important;
}
.el-menu-vertical-demo>.el-submenu>.el-menu--inline{
  box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.2) inset;
}
.el-menu-item-group{
  background:#02848D!important;
}
/*二级展开*/
.el-menu-item-group>ul>.is-opened>.el-submenu__title{
  color:#fff;
}
.el-menu-item-group ul li{
  color:#fff!important;
}
.el-menu-vertical-demo .el-menu-item-group .el-menu-item{
  transition: all 0;
  height: 40px!important;
  line-height: 40px!important;
  color: #666;
  font-size: 14px;
  list-style: none;
  cursor: pointer;
  padding-left: 45px!important;
  background: #02848D!important;
}
.el-menu-vertical-demo .el-menu-item-group .el-submenu .el-submenu__title,
.el-menu-vertical-demo .el-menu-item-group .el-submenu .el-menu-item{
  padding-left: 45px!important;
  height: 40px;
  line-height: 40px;
}
.el-menu-vertical-demo .el-menu-item-group .el-menu-item.greyNav{
  cursor: text!important;
}
.el-menu-vertical-demo .el-menu-item-group .el-menu .el-menu-item {
  background: #02848D;
  padding-left: 55px!important;
}
/*.left>.el-menu-vertical-demo>.el-submenu>.el-submenu__title>span {*/
/*  color:#333 !important;*/
/*}*/
/*.left>.el-menu-vertical-demo>.el-menu-item>span {*/
/*  color:#333 !important;*/
/*}*/
/*.left>.el-menu-vertical-demo>.el-submenu>.el-submenu__title>i {*/
/*  color:#333 !important;*/
/*  padding: 0 3px;*/
/*  !* display: none!important; *!*/
/*}*/
/*.left>.el-menu-vertical-demo>.el-menu-item>i {*/
/*  color:#333 !important;*/
/*  padding: 0 3px;*/
/*  !* display: none!important; *!*/
/*}*/
.el-menu .el-submenu__title>span,.el-menu-item>span{
  color:#fff;
}
.el-menu .el-submenu__title>i,.el-menu-item>i{
  color:#fff!important;
  padding: 0 3px;
  /* display: none!important; */
}

.el-submenu__icon-arrow{
  display: none!important;
}
.el-menu-vertical-demo.el-menu{
  border-right:none!important;
}
.el-submenu>.el-menu{
  background: transparent!important;
}
.el-menu--popup-right-start {
  background: #02848D!important;
}
.el-menu--popup-right-start .el-menu-item:hover{
  background: #006D75!important;
  color:#fff!important;
}
.el-menu-item-group__title{
  display: none;
}
.el-menu-item,.el-menu-vertical-demo>.el-submenu>.el-submenu__title{
  height: 50px!important;
  line-height: 50px!important;
}
.el-menu--collapse{
  width: 100%;
}
/* .el-menu-item.is-active{
  color:#fff;
} */
.el-menu-vertical-demo .el-menu-item.is-actived{
  background: none;
  background: #006D75!important;
  color: #fff!important;
}
.el-menu-vertical-demo .el-menu-item.is-actived .iconfont{
  color: #006D75!important;
  background: #006D75!important;
}
.el-menu-vertical-demo .el-menu-item:hover,.el-menu-vertical-demo .el-submenu__title:hover{
   background: #006D75!important;
   color:#fff!important;

}
.el-menu-vertical-demo .greyNav{
color: #eee!important;
cursor: text;
}

/* 改全局按钮样式 */

.el-button {
  border-radius: 2px !important;
  padding: 10px 20px !important;
  /* background-color: #1081fa;
  border: 1px solid #1081fa; */
  /* color: #fff; */
  min-width: 70px;
  max-width: 150px;
  margin-right: -5px!important;
}
.el-button--default:hover{
  color: #fff !important;
  border-color: #006D75 !important;
  background-color: #006D75 !important;
}
.el-button--primary:hover {
  color: #ffffff !important;
  border-color: #08979C !important;
  background-color: #006D75 !important;
}
.el-button--default:focus{
  color: #08979C !important;
  border-color: #08979C !important;
}
.el-button--primary:focus{
  color: #ffffff !important;
  border-color: #08979C !important;
  background-color: #08979C !important;
}

.el-button--primary {
  background-color: #08979C !important;
  border-color: #08979C !important;
  min-width: 70px;
  max-width: 150px;
}

.lineDialog .el-dialog__body {
  padding: 0px;
}

.el-button.el-button--small{
  padding: 8px 12px!important;
  font-size: 14px!important;
}

/* 改全局多选框 */

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #08979C !important;
  border-color: #08979C !important;
}

.el-radio__label {
  padding-left: 5px !important;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #08979C !important;
}

.el-checkbox:hover .el-checkbox__label {
  color: #08979C;
}
/*登录页记住密码*/
.radioBox .el-checkbox__label {
  font-size: 10px!important;
}
/* 改全局禁选框cursor状态 */

.el-input.is-disabled .el-input__inner {
  cursor: default !important;
}

.el-textarea.is-disabled .el-textarea__inner {
  cursor: default !important;
}

/* 改全局单选框 */

.el-radio__input.is-checked .el-radio__inner {
  background-color: #08979C !important;
  border-color: #08979C !important;
}

/* 改面包屑样式 */

.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  font-weight: normal !important;
  color: #333333 !important;
}

.el-breadcrumb__inner a:hover,
.el-breadcrumb__inner.is-link:hover {
  color: #08979C !important;
}

.el-radio__input.is-checked+.el-radio__label {
  color: #08979C !important;
}

/* 改弹框样式 */

.el-dialog__header {
  padding: 0px 20px !important;
  height: 40px !important;
  line-height: 40px !important;
  text-align-last: left;
  border-bottom: 1px solid #dcdcdc;
}

.el-dialog__title {
  line-height: 40px !important;
  font-size: 14px !important;
  color: #333333 !important;
}

.el-dialog__headerbtn {
  top: 10px !important;
  right: 10px !important;
  font-size: 20px !important;
}

.el-form .el-form-item {
  margin-bottom: 20px !important;
}

.el-dialog__headerbtn .el-dialog__close {
  color: #333333 !important;
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  color: #333333 !important;
}

/* 改全局输入框样式 */

.el-input__inner {
  border-radius: 2px !important;
  height: 36px !important;
  line-height: 36px !important;
  border-color: #d2d2d2;
}

.el-input__inner:hover {
  border-color: #aaaaaa !important;
}

.el-input__inner:focus {
  border-color: #08979C !important;
}

.el-textarea__inner {
  border-radius: 2px !important;
}

.el-input-group__append,
.el-input-group__prepend {
  border-radius: 2px !important;
}

.el-select-dropdown__item.selected {
  background: #fff !important;
  color: #666666 !important;
  font-weight: normal !important;
}

/* 改所有日历框  小图标放左边 */

.el-date-editor .el-input__prefix {
  right: 5px !important;
  left: auto !important;
}

.el-date-editor.el-input--prefix .el-input__inner {
  padding-right: 30px !important;
  padding-left: 15px !important;
}

.el-select-dropdown__wrap {
  max-height: 190px !important;
}

/* 滚动条 */

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  z-index: 99999999;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #cccccc;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 7px;
  background-color: #cccccc;
  -webkit-border-radius: 7px;
  cursor: pointer;
}

.el-form-item__label {
  color: #333333 !important;
}

.el-table tr {
  font-size: 12px !important;
}

.el-button--info {
  background: #909399 !important;
  border: 1px solid #909399 !important;
}

.el-button--info:hover {
  background: #d2d2d2 !important;
  border: 1px solid #d2d2d2 !important;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  border: 1px solid #dcdfe6;
}

.el-form-item__label {
  padding: 0 10px 0 0;
}

.el-tree-node__content {
  height: 40px !important;
}
.el-pagination{
  margin-top: 5px;
}
.el-pagination .el-pager li {
  color: #828282;
  border: 1px solid #d2d2d2;
  margin: 0 2px;
  font-weight: normal;
  font-size: 12px;
  border-radius: 2px;
}

.el-pagination .el-pager li:hover {
  color: #fff;
  background: #08979C;
  border: 1px solid transparent;
}
.el-pager li.active+li {
  border-left: 1px solid #d2d2d2 !important;
}
.el-pagination .el-pager .el-icon-more {
  border: none;
}

.el-pagination .btn-prev,
.el-pagination .btn-next {
  border: 1px solid #d2d2d2;
  color: #999!important;
  border-radius: 2px;
  font-size: 12px;
}

.el-pagination .btn-prev:hover,
.el-pagination .btn-next:hover {
  color: #fff;
  background: #08979C;
  border: 1px solid transparent;
}
.el-pagination .el-select .el-input .el-input__inner{
  height: 28px!important;
  line-height: 28px!important;
}


.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background: #eaf1fb;
  color: #08979C;
}
.statusOper .el-select .el-input .el-input__inner {
    padding: 0 5px;
  border:none;
}
.statusOper .el-select .el-input .el-select__caret {
  display: none;
}
.statusOper .el-select .el-input .el-input__inner:hover ,.statusOper .el-select .el-input .el-input__inner:active{
  border:none;
}
.filter .el-select .el-input .el-input__inner {
  padding: 0 5px;
  border:none;
}
.filter .el-select .el-input .el-input__inner:hover,.filter .el-select .el-input .el-input__inner:active{
  border:none;
}
.filter .el-select .el-input .el-select__caret {
  display: none;
}
.statusOper .el-select .el-input__suffix {
  right: -3px;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after {
  color:#08979C;
}
.el-pagination .btn-prev:hover,
.el-pagination .btn-next:hover,
.el-pagination .active {
  color: #fff !important;
  background: #08979C !important;
  border: 1px solid transparent !important;
}
.el-select .el-input .el-select__caret {
  color:#666;
}
/* .el-input__inner {
  width:460px!important;
} */

.el-textarea__inner {
  min-height: 103px!important;
}
.diaLog>.el-dialog {
  height: 60%!important;
}
@font-face
{
    font-family: UNIDREAMLED;
    src: url(../assets/font/UNIDREAMLED.TTF);
    font-weight:bold;
    min-height: 103px !important;
}
.el-tooltip__popper.is-dark{
  background: #303133;
  opacity: .9;
  transform-origin: center top 0px!important;
}
.redCont {
  color:#d9030e;
}
/* .el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
  color:#000!important;
  cursor: default!important;
} */
.loginFormField  .el-input__inner{
  border-radius: 8px!important;
}
